body{
    background: url('../../../images/bg.jpg');
}
.ui-page, ui-content{
    background: transparent;
}
#content{
    display: block;
    width: 100%;
    height: 300px;
    margin: 50px auto 0 auto;
}
.face{
    background: #670a0a;
    width: 200px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 2px 2px 20px black;
    display: none;
}